<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <%- include ('./partials/admin_messages') %>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">New Article</h3>
                    <div class="pull-right">
                        <a href="/admin/article" class="btn btn-warning btn-xs" style="color:#fff"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-material" method="post" action="/admin/article/add" enctype="multipart/form-data" id="articleForm">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Article Title<span class="required">*</span></label>
                                    <input type="text" name="title" placeholder="Article Title" class="form-control form-control-line" value="<%=data.title%>">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="category">Category:<span class="required">*</span></label> &nbsp; &nbsp;
                                    <select name="category" id="category" class="form-control form-control-line" required>
                                    <% if(data.articleCategory && data.articleCategory.length > 0){
                                        data.articleCategory.forEach((individualCategory)=>{
                                    %>
                                        <option value="<%= individualCategory._id %>"><%= individualCategory.name %></option>
                                    <% })
                                    }else{%>
                                        <option value="NULL">Category Unavailable</option>
                                    <% } %>    
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="author">Author:<span class="required">*</span></label> &nbsp; &nbsp;
                                    <select name="author" id="author" class="form-control form-control-line" required>
                                    <% if(data.users && data.users.length > 0){
                                        data.users.forEach((user)=>{
                                            let val = (!!data.updatingArticle.author && user._id===data.updatingArticle.author._id)?"selected":"null";
                                            if(val==="selected"){
                                    %>
                                        <option value="<%= user._id %>" selected><%= user.full_name %></option>
                                    <% }else{%>
                                        <option value="<%= user._id %>"><%= user.full_name %></option>
                                    <% }%>
                                    <% })
                                    }%>   
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Image<span class="required">*</span></label>
                                    <input type="file" id="article_image" name="article_image" class="form-control-line" data-file_ext="jpg,jpeg,png" accept="image/*" required>
                                    <p id="warning_image"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><span class="required">*</span>
                                <textarea id="content" rows="7" cols="80" name="content" placeholder="Write your content here...." class="form-control form-control-line" value="<%=data.content%>"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label style="width:100%">&nbsp;</label>
                                       <input type="checkbox" id="status" name="is_active" value="1">
                                       <label for="status">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label style="width:100%">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- contentFor('page_js') %>
<script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>

<script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#content' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
    $(document).ready(function () {
        $('#article_image').change(function () {
            if (this.files.length > 0) {
                $.each(this.files, function (index, value) {
               var sizeLimit= 1024*1024; //size limit 1 mb
               if(value.size>sizeLimit){
                $('#warning_image').html($('#warning_image').html() + '<br />' +
                        '<b style="color:red;">' + "Please select file less than 1mb" + '</b>');
                        $('#article_image').html
                }  
                })
            }
        });
        $("#articleForm").validate({
            rules:{
                title:{
                    required:true
                },
                content:{
                    required:true
                },
                image:{
                    required:true
                },
                category:{
                    required:true
                }
            },
            errorElement:'div'
        })
    });
</script>