<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Update Symptom</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-material" method="post" action="/admin/symptom/update?id=<%=data.updatingSymptom.id_%>" enctype="multipart/form-data" id="symptomForm">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Symptom Name<span class="required">*</span></label>
                                    <input type="text" name="name" placeholder="name" class="form-control form-control-line" value="<%=data.updatingSymptom.name %>">
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Image (Minimum 60 X 40 Pixels)</label>
                                    <input type="file" id="symptom_image" name="symptom_image" class="form-control-line">
                                    <p id="warning_image" style="display: none;"><b style="color:red;">Please select file less than 1mb</b></p>
                                </div>
                            </div>
                            <div class="col-md-3">
								<% if(data.updatingSymptom.image.length > 0){%>
                                        <img src="<%=`/uploads/symptom/${data.updatingSymptom.image}`%>" alt="<%= data.updatingSymptom.name%>" style="height: 50px; width: 50px;">
								<%}else{%>
									<img src="/images/default-50x50.gif" alt="<%= data.updatingSymptom.namee%>" style="height: 50px; width: 50px;">
								<%} %>
                                <br><span><p style="font-weight: bold;">LAST UPLOADED IMAGE</p></span>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Icon (Minimum 34 X 24 Pixels)</label>
                                    <input type="file" id="symptom_icon" name="symptom_icon" class="form-control-line">
                                    <p id="warning_icon" style="display: none;"><b style="color:red;">Please select file less than 1mb</b></p>
                                </div>
                            </div>
                            <div class="col-md-3">
								<% if(data.updatingSymptom.icon.length > 0){%>
                                        <img src="<%=`/uploads/symptom/${data.updatingSymptom.icon}`%>" alt="<%= data.updatingSymptom.name%>" style="height: 50px; width: 50px;">
								<%}else{%>
									<img src="/images/default-50x50.gif" alt="<%= data.updatingSymptom.namee%>" style="height: 50px; width: 50px;">
								<%} %>
                                <br><span><p style="font-weight: bold;">LAST UPLOADED ICON</p></span>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="width:100%">&nbsp;</label>
                                        <% let checked = data.updatingSymptom.is_active ? "checked" : "" %>
                                        <input type="checkbox" id="status" name="is_active" value="<%=data.updatingSymptom.is_active%>" <%=checked%>>
                                        <label for="status">Active</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="width:100%">&nbsp;</label>
                                        <button type="submit" class="btn btn-primary">Update Symptom</button>
                                    </div>
                                </div>
                            </div>  
                    </form>
                </div>
            </div>
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <%- include ('./partials/admin_messages') %>
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr class="headings">
                                <th>Symptom Name</th>
                                <th>Image</th>
                                <th>Icon</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <%
                        if(data.symptom && data.symptom.length > 0){
                            data.symptom.forEach((individualSymptom)=>{
                        %>
                            <tr id="id_<%= individualSymptom._id %>"> 
                                <td><%=individualSymptom.name%></td>
                                <td>
                                    <% if(individualSymptom.image.length > 0){%>
                                        <img src="<%=`/uploads/symptom/${individualSymptom.image}`%>" alt="<%= individualSymptom.name%>" style="height: 50px; width: 50px;">
                                    <%}else{%>
                                        <img src="/images/default-50x50.gif" alt="<%= individualSymptom.name%>" style="height: 50px; width: 50px;">
                                    <%} %>
                                </td>
                                <td>
                                    <% if(individualSymptom.icon.length > 0){%>
                                        <img src="<%=`/uploads/symptom/${individualSymptom.icon}`%>" alt="<%= individualSymptom.name%>" style="height: 50px; width: 50px;">
                                    <%}else{%>
                                        <img src="/images/default-50x50.gif" alt="<%= individualSymptom.name%>" style="height: 50px; width: 50px;">
                                    <%} %>
                                </td>
                                <td><% if(individualSymptom.is_active){ %>
                                    <span class="chip green lighten-5">
                                    <span class="green-text">Active</span>
                                    </span>
                                    <% }else{ %>
                                    <span class="chip red lighten-5">
                                    <span class="red-text">Inactive</span>
                                    </span>
                                    <% } %>
                                </td>
                                <td>
                                    <div class="row text-center">
                                        <div class="col-md-1">
                                            <a href="/admin/symptom/update?id=<%= individualSymptom._id%>" class="btn btn-warning btn-xs" style="color:#fff"><i class="fa fa-edit"></i></a>
                                        </div>
                                        <div class="col-md-1">
                                            <form class="form-material" method="post" action="/admin/symptom/delete?id=<%=individualSymptom._id%>">
                                                <div class="form-group">
                                                    <button type="submit"class="btn btn-danger btn-xs" style="color:#fff" onclick="return confirm('Are you sure,you want to delete this record ?')"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% })
                        } %>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<%- contentFor('page_js') %>
<script src="/script/additional-methods.js"></script>
<script>
$(document).ready(function () {
        $('#symptom_image').change(function () {
            if (this.files.length > 0) {
                $.each(this.files, function (index, value) {
               var sizeLimit= 1024*1024; //size limit 1 mb
               if(value.size>sizeLimit){
                  $('#warning_image').show();
               } 
               else{
                    $('#warning_image').hide();
               }   
                })
            }
        });
        $('#symptom_icon').change(function () {
            if (this.files.length > 0) {
                $.each(this.files, function (index, value) {
               var sizeLimit= 1024*1024; //size limit 1 mb
               if(value.size>sizeLimit){
                $('#warning_icon').show();
               }
               else{
                   $('#warning_icon').hide();
               }   
                })
            }
        });
        $("#symptomForm").validate({
            rules:{
                name:{
                    required:true
                },
                symptom_image:{
                    extension: "jpg,jpeg,png"
                },
                symptom_icon:{
                    extension: "jpg,jpeg,png"
                }
            },
            messages:{
				symptom_image: {
					extension: "Only image type extensions (jpg,jpeg,png) are allowed"
				},
                symptom_icon: {
					extension: "Only image type extensions (jpg,jpeg,png) are allowed"
				}
			},
            errorElement:'div'
        });
    });
</script>