<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-material" method="post">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="full_name" placeholder="Name"
                                        class="form-control form-control-line"
                                        value="<%=data.filterDatas.full_name%>" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="email" placeholder="Email"
                                        class="form-control form-control-line" value="<%=data.filterDatas.email%>" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" name="contact_no" placeholder="Phone"
                                        class="form-control form-control-line"
                                        value="<%=data.filterDatas.contact_no%>" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date Range</label>
                                    <input type="text" id="dateRangeInput" class="form-control form-control-line"
                                        name="daterange" value="<%=data.filterDatas.daterange%>" />
                                    <select id="selectOption" class="form-control form-control-line"
                                        name="filterDateType">
                                        <%if(data.dateRange && data.dateRange.length > 0)
                                            { data.dateRange.forEach((currentValue)=>{ %>
                                               <% if(data.filterDatas &&
                                                    data.filterDatas.filterDateType===currentValue.value){%>
                                                    <option value="<%=currentValue.value%>" selected>
                                                        <%=currentValue.month%>
                                                    </option>
                                               <%} else {%>
                                                    <option value="<%=currentValue.value%>">
                                                        <%=currentValue.month%>
                                                    </option>
                                                <%}%>
                                        <%  }) } %>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="page_no" value="1">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label style="width: 100%">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary" name="filter"
                                        value="1">Filter</button>
                                    <button type="submit" class="btn btn-default" name="filter" value="2">Reset</button>
                                    <!-- <a href="/admin/userlist/export-all-user-info" title="Export User Information">Export</a> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <!-- /.box-header -->
                <div class="box-header with-border">
                    <div class="box-tools pull-left">
                        <button onclick="return deleteUsers()" type="button" class="btn btn-primary removeusers"><i
                                class="fa fa-bin"></i>Delete Selected Users</button>
                    </div>
                </div>
                <div class="box-body">
                    <%- include ('./partials/admin_messages') %>
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll" value="1" />Select All</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Created At</th>
                                    <th>Phone</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.records && data.records.length> 0){ data.records.forEach((user)=>{ %>
                                    <tr>
                                        <td><input type="checkbox" name="selected_user" value="<%=user._id%>" /></td>
                                        <td>
                                            <%=user.name%>
                                        </td>
                                        <td>
                                            <%=user.email%>
                                        </td>
                                        <td>
                                            <%=user.created_at%>
                                        </td>
                                        <td>
                                            <%=user.contact_no%>
                                        </td>
                                        <td>
                                            <% if(user.profile_image.length> 0){%>
                                                <span class="avatar-contact avatar-online"><img
                                                        src="<%=user.profile_image%>" alt="<%=user.name%>" height="50px"
                                                        weight="50px" /></span>
                                                <%}else{%>
                                                    <span class="avatar-contact avatar-online"><img
                                                            src="/images/avatar.png" alt="avatar" height="50px"
                                                            weight="50px" /></span>
                                                    <%} %>
                                        </td>
                                        <td>
                                            <% if(user.is_active){ %>
                                                <span class="chip green lighten-5">
                                                    <span class="green-text">Active</span>
                                                </span>
                                                <% }else{ %>
                                                    <span class="chip red lighten-5">
                                                        <span class="red-text">Inactive</span>
                                                    </span>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <!-- <a onclick="return getDetails('<%= user._id%>')" class="btn btn-primary btn-xs" style="color:#fff"><i class="fa fa-eye"></i></a> -->
                                            <!-- <a href="/admin/user-details/<%= user._id%>" class="btn btn-primary btn-xs" style="color:#fff"><i class="fa fa-eye"></i></a> -->
                                            <a href="/admin/userlist/update/<%= user._id%>"
                                                class="btn btn-warning btn-xs" style="color: #fff"><i
                                                    class="fa fa-edit"></i></a>
                                            <!-- <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button> -->
                                            <% if(user.is_active==1){ %>
                                                <a href="/admin/userlist/block-unblock/<%= user._id%>"
                                                    class="btn btn-info btn-xs blockusr"><i class="fa fa-ban"></i></a>
                                                <% }else{ %>
                                                    <a href="/admin/userlist/block-unblock/<%= user._id%>"
                                                        class="btn btn-info btn-xs"><i class="fa fa-check"></i></a>
                                                    <% } %>
                                                        <a href="/admin/userlist/delete/<%= user._id%>"
                                                            title="Delete User Account"
                                                            class="btn btn-danger btn-xs removeuser"
                                                            style="color: #fff"><i class="fa fa-trash-o"></i></a>
                                                        <a href="/admin/userlist/export-user-info/<%= user._id%>"
                                                            title="Export User Information" class="btn btn-info btn-xs"
                                                            style="color: #fff"><i class="fa fa-file-excel-o"></i></a>
                                        </td>
                                    </tr>
                                    <% }) } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Created At</th>
                                    <th>Phone</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                        <%- include('partials/pagination')%>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<%- contentFor('page_js') %>
    <script>
        $('#selectAll').click(function (e) {
            $(this).closest('table').find('td input[name="selected_user"]:checkbox').prop('checked', this.checked);
        });

        $( document ).ready(function() {
            if($('#selectOption').val() === "0")
                $('#dateRangeInput').show();
            else 
                $('#dateRangeInput').hide();

            $('#selectOption').on('change', function () {
                if ($(this).val() === "0")
                    $('#dateRangeInput').show();
                else 
                    $('#dateRangeInput').hide();
            });
        });
        
        $(function () {
            $('input[name="daterange"]').daterangepicker(
                {
                    opens: 'left',
                },
                function (start, end, label) {
                    console.log('A new date selection was made: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                }
            );
        });

        function deleteUsers() {
            var selectedUsers = [];
            $('input[name=selected_user]:checked').map(function () {
                selectedUsers.push($(this).val());
            });
            //alert(selectedUsers)
            $.ajax({
                url: '/admin/userlist/delete-users',
                type: 'POST',
                dataType: 'json',
                data: { selected_users: selectedUsers },
                beforeSend: function () { },
                success: function (response) {
                    console.log(response);
                    if (response.status == 1) {
                        location.reload(true);
                    }
                },
                error: function (response) { },
                commplete: function () { },
            });
        }
    </script>